@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto: var(--font-noto-sans);
  --font-dot: Pixelify Sans, DotGothic16;
  --animate-jump: jump 1s cubic-bezier(0, 0.5, 0.02, 1.69) 1;
}

@keyframes jump {
  0%,
  100% {
    transform: scale(100%);
  }
  25% {
    transform: scale(50%);
    filter: blur(3px);
  }
  50% {
    transform: scale(110%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
}
